<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Gestor de Tiempos</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- CSS Files -->
    <link href="css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="css/demo.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<style>
    #headerLogin{
        border-radius: 3px;
        margin-top: -64px;
        padding: 16px;
        width: 100%;
    }
</style>
<script>
</script>

<body class="" background="img/bg.jpg">
    <div class="wrapper   ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="img/bg.jpg">
            <div class="logo text-center"> Gestor de Tiempos </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li id="nav_category" class="nav-item active">
                        <a class="nav-link" href="/categories" onclick="goTo('category')"> <i class="material-icons">
                                collections_bookmark
                            </i>
                            <p>Categorías</p>
                        </a>
                    </li>
                    <li id="nav_event" class="nav-item ">
                        <a class="nav-link" href="/events" onclick="goTo('event')"> <i class="material-icons">event</i>
                            <p>Eventos</p>
                        </a>
                    </li>
                    <li id="nav_time" class="nav-item ">
                        <a class="nav-link" href="/periods" onclick="goTo('time')"> <i class="material-icons">timeline</i>
                            <p>Tiempo</p>
                        </a>
                    </li>
                    <li id="nav_view" class="nav-item ">
                        <a class="nav-link" href="/view" onclick="goTo('view')"> <i class="material-icons">close</i>
                            <p>Vista Intervalo</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper"> </div>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="btn btn-round" data-toggle="modal" data-target="#loginModal">
                                    {{^estudiante}}
                                    Iniciar Sesión
                                    {{/estudiante}}
                                    {{#estudiante}}
                                        {{username}}
                                    {{/estudiante}}
                                    <i class="material-icons">assignment</i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            