<div class="sidebar" data-color="purple" data-background-color="white" data-image="img/bg.jpg">
    <div class="logo text-center">Gestor de Tiempos</div>
    <div class="sidebar-wrapper">
        <ul class="nav" id="sidebar">
            <li id="nav_category" class="nav-item active"><a class="nav-link" href="#" onclick="goTo('category')"> <i class="material-icons">
                        collections_bookmark </i>
                    <p>Categorías</p>
                </a></li>
            <li id="nav_event" class="nav-item"><a class="nav-link" href="#" onclick="goTo('event')"> <i class="material-icons">event</i>
                    <p>Eventos</p>
                </a></li>
            <li id="nav_time" class="nav-item"><a class="nav-link" href="#" onclick="goTo('time')"> <i class="material-icons">timeline</i>
                    <p>Tiempo</p>
                </a></li>
            {{#intervaltabs}}
            <li id="nav_view" class="nav-item"><a class="nav-link" href="#" onclick="goTo('view')"> <i class="material-icons">query_builder</i>
                    
                    <p>{{name}}
                    	<form id="myForm" action="/closeintervaltab{{idInterval}}">
                    		<span class="close" onclick='this.parentNode.submit(); return false;'>&times;</span>
                    	</form>
                    </p>
                    
                </a>
                
            {{/intervaltabs}}
        </ul>
    </div>
</div>