.periodIndex{
    width: 5% !important;
}
.periodContent{
    width: 85% !important;
}
.periodButtons{
    width: 10% !important;
}
.mostrarmas{
    font-size: 15px !important;
    padding-left: 90px !important;
}



#headerLogin{
    border-radius: 3px;
    margin-top: -64px;
    padding: 16px;
    width: 100%;
}